<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
	<meta charset="utf-8">

	<title>{% if current_page.title %}{{ current_page.title }} - {% endif %}{{ site_title }}</title>
{% if current_page.description %}
	<meta name="description" content="{{ current_page.description }}">
{% endif %}{% if current_page.robots %}
	<meta name="robots" content="{{ current_page.robots }}">
{% endif %}

    <link rel="stylesheet" href="{{ theme_url }}/kube.min.css" type="text/css">
    <link rel="stylesheet" href="{{ theme_url }}/style.css" type="text/css">
</head>
<body>
	<header>
        <hgroup>
    		<h1><a href="{{ base_url }}">{{ site_title }}</a></h1>
            <h2>Straight to the point</h2>
        </hgroup>
		<nav class="nav-g"><ul>
            {% for page in directory('/') %}
            {% if page.relative_url != '/404' %}
            <li><a href="{{ page.url }}">{{ page.title }}</a></li>
            {% endif %}
            {% endfor %}
		</ul></nav>
	</header>

	<section>
		{{ current_page.content }}
	</section>

	<footer>
		Powered by <a href="https://eiky.net/tinkering/femto/">Femto</a>.
	</footer>
</body>
</html>
