header {
    background:#333;
    color:#eee;
}
header > a {
    text-decoration:none;
}
header a {
    color:inherit;
}
header h1 {
    color:inherit;
    font-size:15px;
    margin:0;
}
header h2 {
    color:inherit;
    font-size:10px;
    letter-spacing:2px;
}
header hgroup, header nav.nav-g, section, footer {
    margin:0 auto;
    max-width:600px;
}
header {
    padding:.4em .1em;
}
header nav.nav-g {
    padding:.7em 0 0;
}
section {
    padding:1.5em .1em;
}
footer {
    border-top:1px solid #333;
    color:#333;
    font-size:.8em;
    line-height:1.1em;
    padding:.5em .1em 1em;
}
/* Image */
figure {
    border:1px solid #ddd;
    max-width:calc(100% - 6px);
    padding:2px;
}
.left {
    float:left;
    margin:.4em .4em .4em 0;
}
.right {
    float:right;
    margin:.4em 0 .4em .4em;
}
.center {
    margin:.4em auto;
}
@media screen and (max-width: 600px) {
    .left, .right {
        float:none;
        margin:.2em auto;
    }
}
/* Gallery */
.gallery {
    margin:0 auto;
    max-width:100%;
}
.gallery ul {
    list-style-type:none;
    margin:0;
    padding:0;
}
.gallery li, .gallery a, .gallery img {
    display:inline-block;
    margin:0;
    padding:0;
    text-decoration:none;
}
.gallery img {
    height:auto;
    width:100%;
}
