header {
    background:#333;
    color:#eee;
}
header hgroup a {
    text-decoration:none;
}
header a {
    color:inherit;
}
header h1 {
    color:inherit;
    font-size:30px;
    margin:0;
}
header h2 {
    color:inherit;
    font-size:10px;
}
header hgroup, header nav, section, footer {
    margin:0 auto;
    padding:1px 0;
    width:600px;
}
header hgroup {
    padding-top:.4em;
}
footer {
    border-top:1px solid #333;
    color:#333;
    font-size:.8em;
    line-height:1.1em;
    margin-top:2em;
    padding-bottom:1em;
    padding-top:.5em;
}
